{% extends "MyBlg/base.html" %}

{% block title %}Szukaj{% endblock %}

{% block content %}
    {% if "query" in request.GET %}
        <h1>Posty zawierające "{{ cd.query }}"</h1>
        <h3>Znaleziono {{ total_results }} wynik{{ total_results|pluralize:"i" }}</h3>
        {% for result in results %}
            {% with post=result.object %}
                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                {{ post.body|truncatewords:5 }}
            {% endwith %}
        {% empty %}
            <p>Brak wyników dla podanego zapytania</p>
        {% endfor %}
        <p><a href="{% url "MyBlg:post_search" %}">Szukaj ponownie</a></p>
    {% else %}
        <h1>Szukaj postów</h1>
        <form action="." method="get">
            {{ form.as_p }}
            <input type="submit" value="Szukaj">
        </form>
    {% endif %}
{% endblock %}