{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {%  block content %}
        {%  endblock %}
    </div>
    <div id="sidebar">
        <h2>Mój blog</h2>
            <p>To jest mój pierwszy projekt w Django :). Dotychczas opublikowałem {% total_posts %} postów.</p>

        <h3>Najnowsze posty</h3>
        {% show_latest_posts 3 %}

        <h3>Najczęściej komentowane posty</h3>
        {% get_most_commented_posts 3 as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>